.mainDaily-Quote {
    width: 90%;
    height: 90%;
    background-color: #fff;
    box-shadow: 8px 10px 8px rgba(128, 128, 128, 0.322);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.mainDaily-Quote > h3 {
    margin: 0;
    color: #5F574F;
    font-size: 1.7vmax;
}

.mainDaily-Quote > p {
    width: 80%;
    font-size: 1.5vmax;
    color: #DFA368;
}

.mainDaily-Quote > button {
    width: 15%;
    height: 15%;
    border: none;
    border-radius: 30px;
    background-color: #EB8936;
    color: #fff;
    font-size: 1vmax;
    cursor: pointer;
}